h3 {
    font-size: 1em;
}

#final-score {
    font-size: 30px;
}

form input {
    text-align: center;
    width: 375px;
    height: 45px;
    max-width: 95%;
    outline: 2px solid #333333;
    border: 2px solid rgba(0, 0, 0, 0);
}

.row > * {
    padding: 0;
}

.form-btn {
    outline: 4px outset #333333;
    background-color: rgb(255, 223, 41);
    width: 375px;
    height: 45px;
    max-width: 95%;
    text-decoration: none;
    padding: 10px;
    color: #333333;
    transition: outline 150ms ease-in-out, transform 150ms ease-in-out;
    border: none;
}

.form-btn:hover {
    outline: 2px outset #333333;
    transform: translateY(1px);
}

#final-score {
    padding: 0 10px;
}