.hud {
    margin-top: 20px;
    width: 30rem;
    max-width: 90%;
}

.hud p {
    margin-bottom: 0;
}

.hud-item {
    width: 14rem;
    font-size: 20px;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .hud-item {
        font-size: 15px;
    }
}