/* Hud Styling */
.hud {
    margin-top: 20px;
    width: 30rem;
    max-width: 90%;
}

.hud p {
    margin-bottom: 0;
}

.hud-item {
    width: 14rem;
    font-size: 20px;
}

/* Styling for correct and incorrect answers */
.correct {
    background-color: #009D00;
}

.incorrect {
    background-color: #ff0000;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .hud-item {
        font-size: 15px;
    }
}