/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

/* Global styles and utilities */
body {
    background: url(../images/background.jpg) no-repeat fixed center top;
    background-size: 100vw 100vh;
    background-color: #65D3F0;
    color: #161616;
    font-family: "Press Start 2P", Arial, sans-serif;
    font-size: 15px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

footer ul {
    padding: 0;
    list-style: none;
}

.emoji {
    font-size: 35px;
}

.header-container {
    background-color: #2290fd;
    outline: 4px outset #333333;
    margin-top: 20px;
    width: 30rem;
    max-width: 90%;
    padding: 15px;
    font-family: "Bungee Spice", Arial, sans-serif;
}

.game-container {
    background-color: #2290fd;
    outline: 4px outset #333333;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30rem;
    max-width: 90%;
    padding: 15px;
}

.divider {
    width: 60%;
    margin: 20px 0 18px 0;
    border-bottom: 2px solid #333333;
}

/* Buttons */
.game-btn {
    outline: 4px outset #333333;
    border: none;
    background-color: rgb(255, 223, 41);
    color: #161616;
    width: 375px;
    max-width: 90%;
    text-decoration: none;
    padding: 10px;
    transition: outline 150ms ease-in-out, transform 150ms ease-in-out;
}

.game-btn:hover {
    outline: 2px outset #333333;
    transform: translateY(1px);
}

#quit-btn {
    width: auto;
}

/* Modal Styling */
.modal {
    margin-top: 20vh;
}

.modal-title {
    text-decoration: underline;
}

.modal p {
    margin: 0;
}

.modal ol {
    text-align: center;
    padding: 0 10px;
    margin: 0;
}

.modal ul {
    text-align: center;
    list-style: none;
    padding: 0 10px;
    margin: 0;
}

.modal-content {
    background-color: #2290fd;
    border-radius: 0px;
    outline: 4px outset #333333;
}

.modal-header {
    text-align: center;
    border-bottom: none;
}

.modal-header h1 {
    text-decoration: underline;
}

.modal-body {
    padding: 0 20px;
}

.modal-footer {
    border-top: none;
}

.modal-close-btn {
    padding: 10px;
    width: 60%;
}

#LeaderBoardModal .modal-body {
    max-height: 20vh;
    padding: 0 20px;
    overflow: auto;
}

.modal-open {
    overflow-y: inherit !important;
}

#howToModal {
    margin-top: 5vh;
}

#howToModal p {
    margin-bottom: 10px;
}

/* Scroll Bar Styling */
::-webkit-scrollbar {
    width: 25px;
    height: 25px;
}

::-webkit-scrollbar-thumb {
    background: #2290fd;
    border: 4px inset #333333;
}

::-webkit-scrollbar-track {
    background: #2290fd;
}

::-webkit-scrollbar-button:single-button {
    background-color: #2290fd;
    display: block;
    border-style: solid;
    height: 20px;
}

/* Scroll Bar Up Button */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0px 12px 12px 12px;
    border-color: transparent transparent #333333 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}

/* Scroll Bar Down Button */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 12px 12px 0 12px;
    border-color: #333333 transparent transparent transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    border-color: #777777 transparent transparent transparent;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 15px;
    }

    #howToModal {
        margin-top: 25px;
    }
}