@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


/* GLOBAL STYLES */

body {
    background-color: #ECECEC;
    color: #333333;
    font-family: 'Press Start 2P', Arial, sans-serif;
}

h1 {
    font-size: 40px;
}

.header-container {
    background-color: #2290fd;
    color: #333333;
    outline: 4px outset #333333;
    margin-top: 20px;
    width: 30rem;
    max-width: 90%;
    padding: 15px;
    font-family: 'Bungee Spice', Arial, sans-serif;
}

.game-container {
    background-color: #2290fd;
    outline: 4px outset #333333;
    margin-top: 20px;
    width: 30rem;
    max-width: 90%;
    padding: 15px;
}

/* BUTTONS */

.game-btn {
    outline: 4px outset #333333;
    background-color: rgb(255, 223, 41);
    width: 85%;
    text-decoration: none;
    padding: 10px;
    color: #333333;
    transition: outline 150ms ease-in-out, transform 150ms ease-in-out;
}

.game-btn:hover {
    outline: 2px outset #333333;
    transform: translateY(1px);
}

/* MODAL STYLING */

.modal {
    margin-top: 30vh;
}

.modal-content {
    background-color: #2290fd;
    border-radius: 0px;
    outline: 4px outset #333333;
}

.modal-header {
    border-bottom: none;
    text-decoration: underline;
}

.modal-footer {
    border-top: none;
}

.modal ol {
    list-style: none;
}

#modal-close-btn {
    padding: 10px;
    width: 60%;
}